<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>MUSIC SNS</title>
	<link rel="stylesheet" href="/assets/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<body>
<nav class="center-hrizontal">
	<a href="/">MUSIC SNS!!!</a>
	<% if session[:user] %>
		<a href="/profile">
			<img class="icon" src="<%= User.find(session[:user]).icon || User.find(1).icon %>">
		</a>
		<a href="/search">Search</a>
		<a href="/logout">Logout</a>
	<% else %>
		<a href="/signup">Signup</a>
	<% end %>
</nav>
<main>

<%= yield %>

</main>
</body>
</html>